.item-flex{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.item-right{
    width: 450px;
}

.item-right h1{
    font-family: Fugaz One;
    text-transform: uppercase;
}

.item-right p{
    text-align: justify;
}

.item-right span{
    font-weight: 700;
}

.cart-link{
  background: black;
  color: white;
  padding: 10px 20px;
  text-decoration: none;
  text-transform: uppercase;
}

.cart-link:hover{
  background-color: rgb(33, 33, 33);
  color: white;
}

/* LOADER */
.lds-dual-ring {
    color: black;
    display: inline-block;
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .lds-dual-ring:after {
    content: " ";
    display: block;
    width: 64px;
    height: 64px;
    margin: 8px;
    border-radius: 50%;
    border: 6px solid #fff;
    border-color: black transparent black transparent;
    animation: lds-dual-ring 1.2s linear infinite;
  }
  @keyframes lds-dual-ring {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }

@media (max-width: 900px){
  .item-flex{
    flex-direction: column;
    align-items: center;
  }
  .item-flex img{
    width: 450px;
  }
}

@media (max-width: 450px){
  .item-flex img{
    width: 300px;
  }
  .item-right{
    width: 300px;
    display: flex;
    flex-direction: column;
  }

  .item-right h1{
    font-size: 20px;
    text-align: center;
  }

  .item-right p{
    text-align: center;
  }

  .item-right input{
    margin: 0;
    border: 1px solid black;
  }

  .cart-link{
    padding: 5px;
  }
}