form{
    width: 350px;
    margin: auto;
    border: 2px solid black;
    padding: 32px;
    box-shadow: 18px 18px 0px -6px rgb(0, 0, 0);
    -webkit-box-shadow: 18px 18px 0px -6px rgb(0, 0, 0);
    -moz-box-shadow: 18px 18px 0px -6px rgb(0, 0, 0);
}

.fullnameContainer{
    display: flex;
    justify-content: space-between;
}

form p{
    text-align: center;
    font-weight: 700;
    text-transform: uppercase;
    margin: 0 0 15px 0;
}

.mainInfoForm{
    display: flex;
    flex-direction: column;
    /* margin-top: 20px; */
}

.mainInfoForm input{
    width: 100%;
    margin: 10px 0 0 0 ;
}

.submitBTN{
    background-color: black;
    color: white;
    border: none;
    width: 100%;
    padding: 5px;
    margin-top: 10px;
}