.material-symbols-outlined{
    color: white;
    cursor: pointer;
    position: absolute;
    right: 10px;
    top: 15px;
    border-radius: 50%;
}

@media(max-width: 992px){
    .material-symbols-outlined{
        position: initial;
    }
}