footer{
    background-color: black;
    height: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

.footerText{
    color: white;
    text-transform: uppercase;
    text-align: center;
    font-weight: 700;
    margin: 0;
}

.footerText span{
    color: orange;
}