.itemContainer{
    display: flex;
    width: 300px;
    flex-direction: column;
    justify-content: center;
}

.btn-primary{
    width: 50px;
    color: white;
    background: black;
    font-weight: 650;
}

input{
    width: 150px;
    text-align: center;
    margin: 0 10px;
}

.btn-buy{
    width: 100%;
    color: white;
    margin-top: 10px;
    background: black;
    font-weight: 650;
}
.countItem{
    margin: auto;
}

@media (max-width: 450px){
    .countItem{
        margin: auto;
    }
}